#app {
  margin: 0px auto;
  line-height: 100px;
  width: 1000px;
  background: aquamarine;
  border-radius: 4px;
  text-overflow: ellipsis; /* 字体溢出显示省略号*/
}

.fons {
  color: #fff;
  overflow: hidden;
  animation: huc 10s;
  transition: width 0.5s ease;
  white-space: nowrap;
  padding-left: 15px;
}
